/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Gloria+Hallelujah&family=Rochester&display=swap");
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.gold {
  background-color: gold;
}

.black {
  background-color: black;
}

.grey {
  background-color: grey;
}

.custom__header img {
  height: 40vh;
}
.custom__header h1 {
  font-family: "Rochester", sans-serif;
  font-size: 2.5em;
}

.custom_navbar {
  display: flex;
  justify-content: center;
}

.arg_title_inicio {
  padding-top: 5em;
  width: 100%;
  height: 25em;
  background-image: url(../img/volcan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.arg_title_inicio:hover {
  cursor: pointer;
  width: 100%;
  height: 35em;
  transition: all 2s ease-in-out;
}

@keyframes boton {
  0% {
    border: 1.5px dashed black;
    opacity: 0.3;
  }
  50% {
    border: 1.5px dashed black;
    opacity: 1;
  }
  100% {
    border: 1.5px dashed black;
    opacity: 0.3;
  }
}
hr {
  width: 40%;
  height: 2px;
  background-color: black;
  opacity: 1;
  margin: 3% 30%;
}

.custom_inicio img {
  border-radius: 5em;
}

.custom_article_inicio p {
  text-align: justify;
  font-size: 1.3em;
}
.custom_article_inicio a {
  border-radius: 0.8em;
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-style: italic;
}
.custom_article_inicio a:hover {
  padding: 0.5em 1em;
  animation: boton 1s ease-in-out 0s infinite;
}
.custom_article_inicio h2 {
  font-family: Gloria Hallelujah, sans-serif;
  text-transform: uppercase;
}

.custom_viajes h2 {
  font-family: Gloria Hallelujah, sans-serif;
  text-transform: uppercase;
}

.playlist {
  margin-left: 8em;
  margin-right: 8em;
  border: 1px solid #000;
  border-radius: 2em;
  text-align: center;
}
.playlist p {
  font-size: 1.3em;
  color: #000;
}
.playlist i {
  margin-bottom: 0.5em;
  font-size: 2.5em;
  color: #000;
}
.playlist i:hover {
  cursor: pointer;
  color: #1DB954;
  transform: rotate(360deg) scale(1.5);
  transition: all 2s;
}

.redes i {
  color: #faf9f9;
}
.redes .fcb:hover {
  color: #3b5998;
}
.redes .ins:hover {
  color: #C13584;
}
.redes .ytb:hover {
  color: #bb0000;
}
.redes .twi:hover {
  color: #55acee;
}

@keyframes latidogiro {
  0% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg) scale(1.1);
  }
  100% {
    transform: rotate(-25deg);
  }
}
.pie img {
  border-radius: 5em;
  margin-bottom: 1em;
}
.pie img:hover {
  cursor: pointer;
  animation: latidogiro 1.5s ease-in-out infinite;
}
.pie a {
  text-decoration: none;
  color: white;
}

.contenedor-tarjetas {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}
.contenedor-tarjetas .tarjeta {
  margin: 4em 2em;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.contenedor-tarjetas .tarjeta .tarjeta-img {
  margin-top: 3em;
}
.contenedor-tarjetas .tarjeta .tarjeta-img img {
  border-radius: 8em;
}
.contenedor-tarjetas .tarjeta .tarjeta-titulo {
  margin-top: 1em;
}
.contenedor-tarjetas .tarjeta .tarjeta-titulo h4 {
  font-size: 2.5em;
  font-family: Gloria Hallelujah, sans-serif;
  color: whitesmoke;
}
.contenedor-tarjetas .tarjeta .tarjeta-content {
  padding: 1em 3em;
  text-align: center;
  font-size: 1.3em;
  color: whitesmoke;
}

.juntos-container {
  width: 100%;
  margin-top: 3em;
  padding: 2em 0;
}
.juntos-container img {
  border-radius: 8em;
  margin-bottom: 3em;
}
.juntos-container article {
  margin: 2em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.juntos-container article h4 {
  margin-bottom: 1em;
  font-size: 2.5em;
  font-family: Gloria Hallelujah, sans-serif;
}
.juntos-container article p {
  width: 80%;
  text-align: justify;
  font-size: 1.3em;
}

@media screen and (max-width: 576px) {
  .playlist {
    margin-left: 3.5em;
    margin-right: 3em;
    border: 1px solid #000;
    border-radius: 2em;
    text-align: center;
  }
  .playlist p {
    font-size: 0.9em;
    color: #000;
  }
  .playlist i {
    font-size: 1.5em;
  }
  .contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
  }
  .contenedor-tarjetas .tarjeta .tarjeta-titulo h4 {
    font-size: 2em;
  }
  .contenedor-tarjetas .tarjeta .tarjeta-content {
    font-size: 1em;
  }
  .juntos-container article h4 {
    text-align: center;
  }
  .juntos-container article p {
    font-size: 1em;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .playlist {
    margin-left: 4em;
    margin-right: 4em;
  }
  .playlist p {
    font-size: 1.1em;
  }
  .playlist i {
    font-size: 2em;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
  }
  .contenedor-tarjetas .tarjeta .tarjeta-titulo h4 {
    font-size: 2.5em;
  }
  .juntos-container article h4 {
    text-align: center;
  }
  .juntos-container article p {
    font-size: 1.2em;
  }
}
.arg_title {
  padding-top: 5em;
  width: 100%;
  height: 20em;
  background-image: url(../img/hornocal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.arg_title:hover {
  width: 100%;
  height: 30em;
  transition: all 2.5s ease-in-out;
}
.arg_title h2 {
  font-size: 2.5em;
  font-family: Gloria Hallelujah, sans-serif;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}
.arg_title h2:hover {
  opacity: 0.6;
}

.custom_arg img {
  border-radius: 5em;
}

.custom_article_arg a {
  text-decoration: none;
  font-family: Dosis, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: rgb(162, 9, 9);
}
.custom_article_arg a span {
  text-transform: none;
  font-size: 1.1em;
  font-style: italic;
}
.custom_article_arg p {
  font-size: 1.3em;
}

/*# sourceMappingURL=style.css.map */
