    /*CUSTOM STYLES*/


    /*GOOGLE FONTS*/

    @import url('https://fonts.googleapis.com/css2?family=Dosis&family=Gloria+Hallelujah&family=Rochester&display=swap');
        
    
    /*ESTILOS DEL HEADER*/


.container-fluid img.logo{
    height: 40vh;
}

.container-fluid h1.title{
    font-family: "Rochester", sans-serif;
    font-size: 2.5em;
}



            

                /*ESTILOS DE LA NAVBAR*/

.custom_navbar{
    display: flex;
    justify-content: center;
}









        /*ESTILOS DEL MENU PRINCIPAL*/

        /*BIENVENIDA Y QUIENES SOMOS*/


div.arg_title_inicio{
    padding-top: 5em;
    height: 25em;
    background-image: url(../img/volcan.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}

.custom_inicio img{
    border-radius: 5em;
}
.custom_article p.text-justify{
    text-align: justify;
}
.custom_article_inicio a{
    padding: 0.5em 1em;
    border-radius: 0.8em;
    text-decoration: none;
    background-color: #000;
    color:#fff;

}

.custom_article_inicio a:hover{
    color:#505050
}

h2.titulos_inicio{
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
}


        /*NUESTROS VIAJES*/





        /*PLAYLIST*/

div.playlist{
    margin-left: 8em;
    margin-right: 8em;
    border: 1px solid #000;
    border-radius: 2em;
    text-align: center;
}

div p.playlist{
    font-size: 1.2em;
    color:#000;
}
div i.playlist{
    margin-bottom: 0.5em;
    font-size: 2.5em;
    color:#000;
}

@media screen and (max-width:576px){
    div.playlist{
        margin-left: 3.5em;
        margin-right: 3em;
        border: 1px solid #000;
        border-radius: 2em;
        text-align: center;        
    }
    div p.playlist{
        font-size: 0.9em;
        color:#000;
        
    }
 div i.playlist{
        margin-bottom: 0.5em;
        font-size: 1.5em;
        color:#000;
    }  
}

@media screen and (min-width:576px) and (max-width:768px){
    div.playlist{
        margin-left: 4em;
        margin-right: 4em;
    }
    div p.playlist{
        font-size: 1.1em;
    }
    div i.playlist{
        margin-bottom: 0.5em;
        font-size: 2em;
    } 
}

    
    



        /*FOOTER*/


.pie img{
    border-radius: 5em;
    margin-bottom: 1em;
}
.pie a{
    text-decoration: none;
    color: white;
}




        /*PAGINA ARGENTINA*/

    
    div.arg_title{
    padding-top: 5em;
    height: 20em;
    font-family: Gloria Hallelujah, sans-serif;
    background-image: url(../img/hornocal.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}

.arg_title h2{
    font-size: 2.5em;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}
.arg_title h2:hover{
    opacity: .6;
}

.custom_article_arg a{
    text-decoration: none;
    color:rgb(162, 9, 9)
}

article.custom_article_arg h3 a{
    text-decoration: none;
    font-size: 0.7em;
    text-transform: uppercase;
    color: rgb(162, 9, 9);
}


div.custom_arg img{
    border-radius: 5em;
}






            /*PAGINA CONTACTANOS*/






