//font-sizes//

$big: 4em;
$medium: $big - 1.5;
$small: $medium - 1.2;
$xsmall: $small - 0.3;

//colores redes//

$redes: #faf9f9;

$facebook: #3b5998;
$instagram: #C13584;
$twitter: #55acee;
$youtube: #bb0000;

//color letra//

$white: #ffffffcf;